.react-confirm-alert {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  text-align: center;
  padding: 40px 20px 10px;
  border-radius: 10px;
  z-index: 4;
  background-color: #FFF;
}
.custom-ui p {
  font-size: 22px;
}
.custom-ui button {
  padding: 10px 25px;
  margin: 30px 10px;
  cursor: pointer;
}
.admin-pages {
  background-color: #EBECF0 !important;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 100px;
}
.admin-pages * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.admin-pages .admin-button {
  color: #4d5c69;
  border-color: #4d5c69;
  background-color: transparent;
  padding: 8px 15px;
  transition: 0.2s;
  border-radius: 3px !important;
}
.admin-pages .admin-button:hover {
  background-color: #4d5c69;
  color: #FFF;
  border-color: transparent;
}
.admin-pages .logout-button {
  color: #AE1100;
  background-color: #EBECF0;
  transition: 0.2s;
  padding: 8px 15px;
  border-radius: 3px !important;
  border: none;
}
.admin-pages .logout-button:hover {
  border: none;
  color: #FFF;
  background-color: #AE1100;
}
.admin-pages input,
.admin-pages textarea {
  min-height: 45px;
  border-radius: 3px;
  border: 1px solid #a29f9f;
}
.admin-pages .title {
  margin: 20px 0;
}
.admin-pages button {
  padding: 10px 15px;
}
.admin-pages .page-item a {
  padding: 10px;
}
.admin-pages div,
.admin-pages p {
  color: #4e4e4e;
}
.admin-pages .container-left a,
.admin-pages .container-left p {
  color: #FFF;
  text-decoration: none;
}
.admin-pages .container-left a:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.admin-pages input,
.admin-pages textarea,
.admin-pages button {
  outline: none !important;
}
.admin-pages body,
.admin-pages p,
.admin-pages input,
.admin-pages textarea,
.admin-pages button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}
.admin-pages .auth {
  width: 100%;
  height: 100vh;
  background-color: #EBECF0;
}
.admin-pages .auth form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}
.admin-pages .segment {
  padding: 32px 0;
  text-align: center;
}
.admin-pages .authButton,
.admin-pages .authInput {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}
.admin-pages label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}
.admin-pages .authInput {
  margin-right: 16px/2;
  box-shadow: inset 2px 2px 5px #4e4e4e, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.admin-pages .authInput:focus {
  box-shadow: inset 1px 1px 2px #4e4e4e, inset -1px -1px 2px #FFF;
}
.admin-pages .authButton {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #4e4e4e;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
.admin-pages .authButton:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #4e4e4e;
}
.admin-pages .authButton:active {
  box-shadow: inset 1px 1px 2px #4e4e4e, inset -1px -1px 2px #FFF;
}
.admin-pages .authButton .icon {
  margin-right: 16px/2;
}
.admin-pages .authButton.red {
  display: block;
  width: 100%;
  color: #AE1100;
}
.admin-pages .product-image-block .product-img {
  width: auto;
  height: 150px;
  margin: 5px;
  border: 2px solid;
}
.admin-pages .global-container {
  display: flex;
}
.admin-pages .container-left {
  width: 220px;
  height: 100%;
  background: #4d5c69;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 30px;
  box-shadow: 10px 0 16px -8px #000;
  position: fixed;
  z-index: 12 !important;
}
.admin-pages .container-left .img-block {
  height: 100px;
  width: 100px;
  background-color: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.admin-pages .container-left .img-block p {
  color: #000;
  font-size: 45px;
  margin: 0;
}
.admin-pages .container-left .name p {
  font-size: 20px;
}
.admin-pages .line {
  width: 80%;
  height: 1px;
  background-color: #4e4e4e;
  margin: 10px 0;
}
.admin-pages .errorText {
  color: red;
}
.admin-pages #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  max-width: 800px;
}
.admin-pages #customers th {
  background-color: #4d5c69 !important;
}
.admin-pages #customers td,
.admin-pages #customers th {
  border: 1px solid #000000;
  padding: 8px;
}
.admin-pages #customers tr:nth-child(even) {
  background-color: #f2f2f2;
}
.admin-pages #customers tr:hover {
  background-color: #dbd7d7;
}
.admin-pages #customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.admin-pages .center {
  cursor: pointer;
  text-align: center;
}
.admin-pages .icon {
  font-size: 20px;
}
.admin-pages .icon:hover {
  transform: scale(1.1);
}
.admin-pages .red {
  color: red;
}
.admin-pages .blue {
  color: blue;
}
.admin-pages .react-confirm-alert {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  text-align: center;
  padding: 40px 20px 10px;
  border-radius: 10px;
  z-index: 4;
  background-color: #FFF;
}
.admin-pages .right-site-bar {
  width: 100%;
  margin-left: 230px;
}
.admin-pages .product-form {
  max-width: 600px;
  display: flex;
  flex-flow: column;
  background-color: #FFF;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  align-items: baseline;
}
.admin-pages .product-form input,
.admin-pages .product-form textarea {
  margin: 5px;
  padding: 5px;
}
.admin-pages .product-form .css-2b097c-container {
  width: 80%;
  margin: 5px;
}
.admin-pages .product-form button {
  padding: 10px 20px;
  margin: 5px;
}
.admin-pages .product-form label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 5px;
}
.admin-pages .product-form label input {
  width: 17px;
}
.admin-pages .images-block {
  border: 1px solid grey;
  width: 98%;
  height: 200px;
  display: flex;
  border-radius: 3px;
  position: relative;
  margin: 15px 0;
  background-color: #fff;
}
.admin-pages .images-block .upload-img {
  border-right: 1px solid grey;
  width: 80px;
  display: flex;
  padding-right: 10px;
}
.admin-pages .images-block .upload-img .labelForUpload {
  cursor: pointer;
}
.admin-pages .images-block .product-image-block {
  overflow-y: auto;
  display: flex;
  align-items: flex-end;
}
.admin-pages .images-block .product-image-block .global-settings {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  width: 25px;
}
.admin-pages .image-block {
  position: relative;
}
.admin-pages .image-block .settings {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  cursor: pointer;
}
.admin-pages .dropdown-item {
  width: 95%;
}
.admin-pages .description {
  width: 98%;
  height: 200px;
}
.admin-pages .keyWords {
  width: 98%;
  height: 100px;
}
.admin-pages #name {
  width: 98%;
}
.admin-pages .about-us-block {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.admin-pages .about-us-block textarea {
  white-space: break-spaces !important;
}
.admin-pages .about-us-block button {
  margin-top: 10px;
}
.admin-pages .error {
  box-shadow: 0px 0px 4px 2px red;
  border-color: transparent;
}
.admin-pages .td-img {
  max-width: 100px;
}
.admin-pages .td-desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.admin-pages .add-category-block {
  display: flex;
  flex-flow: column;
  align-items: baseline;
  margin: 20px 0px;
}
.admin-pages .add-category-block input {
  height: 40px;
  margin-bottom: 10px;
  width: 400px;
}
.admin-pages .add-category-block label {
  margin: 0;
}
.admin-pages .add-category-block .category-butttons-block {
  display: flex;
}
.admin-pages .add-category-block .category-butttons-block .reset {
  font-size: 28px;
  color: #126ccc;
  cursor: pointer;
  margin-left: 40px;
  transition: 0.2s;
}
.admin-pages .add-category-block .category-butttons-block .reset:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
.admin-pages .search-block {
  padding: 20px 0;
}
.admin-pages .search-block input {
  margin-right: 1px;
}
.admin-pages .search-block button {
  height: fit-content;
}
.admin-pages .pagination-block {
  margin-top: 20px;
}
.admin-pages .content form .category-upload-block {
  display: flex;
}
.admin-pages .content form .category-upload-block .upload-img {
  border: 1px solid #a29f9f;
  background-color: #FFF;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 5px 5px 20px;
  height: 125px;
}
.admin-pages .content form .category-upload-block .upload-img img {
  cursor: pointer;
}
.admin-pages .category-img {
  width: 250px;
  max-width: 300px;
  max-height: 350px;
}
.three-lines-svg {
  padding: 20px 10px;
  box-shadow: 10px 0 10px -10px #000;
  background-color: #4d5c69;
  position: fixed;
  height: 100vh;
  z-index: 11;
}
.three-lines-svg svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.three-lines-svg svg * {
  fill: #FFF;
}
.left-layer {
  background-color: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
}
.show-left-menu {
  margin-left: 0 !important;
  z-index: 3 !important;
}
.close-svg {
  cursor: pointer;
  background-color: #FFF;
  position: absolute;
  left: 221px !important;
  top: 1px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.close-svg svg {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.close-svg svg * {
  fill: #4e4e4e;
}
tr {
  background-color: #FFF !important;
}
.right-site-bar {
  margin-left: 0;
}
.change-price-wrapper {
  width: 100%;
}
.change-price-wrapper .change-price-wrapper-item {
  width: 50%;
}
@media (max-width: 992px) {
  .right-site-bar {
    width: 100%;
    margin-left: 0 !important;
  }
  .right-site-bar {
    padding-left: 50px;
  }
  .container-left {
    margin-left: -230px;
  }
}
@media (min-width: 768px) {
  .right-site-bar {
    padding-left: 50px;
  }
}
