@ruler: 16px;
@color-red: #AE1100;
@color-bg: #EBECF0;
@color-shadow: #BABECC;
@color-white: #FFF;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: @color-bg;
}

body,
p,
input,
textarea,
button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: @ruler;
}

div,
p {
  color: @color-shadow;
  // text-shadow: 1px 1px 1px @color-white;
}


form {
  padding: @ruler;
  width: @ruler*20;
  margin: 0 auto;
}

.segment {
  padding: @ruler*2 0;
  text-align: center;
}

.authButton,
.authInput {
  border: 0;
  outline: 0;
  font-size: @ruler;
  border-radius: @ruler*20;
  padding: @ruler;
  background-color: @color-bg;
  text-shadow: 1px 1px 0 @color-white;
}

label {
  display: block;
  margin-bottom: @ruler*1.5;
  width: 100%;
}

.authInput {
  margin-right: @ruler/2;
  box-shadow: inset 2px 2px 5px @color-shadow, inset -5px -5px 10px @color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px @color-shadow, inset -1px -1px 2px @color-white;
  }
}

.authButton {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px @color-white, 5px 5px 20px @color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    box-shadow: -2px -2px 5px @color-white, 2px 2px 5px @color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px @color-shadow, inset -1px -1px 2px @color-white;
  }

  .icon {
    margin-right: @ruler/2;
  }

  &.red {
    display: block;
    width: 100%;
    color: @color-red;
  }
}

.product-image-block {
  .product-img {
    width: 100px;
  }
}

.container {
  display: flex;
}

.container-left {
  width: 220px;
  height: 100vh;
  background: green;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 30px;

  .img-block {
    height: 100px;
    width: 100px;
    background-color: @color-bg;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: #000;
      font-size: 45px;
    }
  }

  .name p {
    font-size: 20px;
  }
}

.line {
  width: 80%;
  height: 1px;
  background-color: @color-shadow;
  margin: 10px 0;
}
.errorText{
  color: red;
}