* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: #EBECF0;
}
input,
textarea,
button {
  outline: none !important;
}
body,
p,
input,
textarea,
button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}
div,
p {
  color: #4e4e4e;
}
.auth form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}
.segment {
  padding: 32px 0;
  text-align: center;
}
.authButton,
.authInput {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}
label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}
.authInput {
  margin-right: 16px/2;
  box-shadow: inset 2px 2px 5px #4e4e4e, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.authInput:focus {
  box-shadow: inset 1px 1px 2px #4e4e4e, inset -1px -1px 2px #FFF;
}
.authButton {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #4e4e4e;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
.authButton:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #4e4e4e;
}
.authButton:active {
  box-shadow: inset 1px 1px 2px #4e4e4e, inset -1px -1px 2px #FFF;
}
.authButton .icon {
  margin-right: 16px/2;
}
.authButton.red {
  display: block;
  width: 100%;
  color: #AE1100;
}
.product-image-block .product-img {
  width: auto;
  height: 150px;
  margin: 5px;
  border: 2px solid;
}
.global-container {
  display: flex;
}
.container-left {
  width: 220px;
  height: 100vh;
  background: green;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 30px;
  box-shadow: 10px 0 16px -8px #000;
  position: fixed;
  z-index: 1;
}
.container-left .img-block {
  height: 100px;
  width: 100px;
  background-color: #EBECF0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.container-left .img-block p {
  color: #000;
  font-size: 45px;
  margin: 0;
}
.container-left .name p {
  font-size: 20px;
}
.line {
  width: 80%;
  height: 1px;
  background-color: #4e4e4e;
  margin: 10px 0;
}
.errorText {
  color: red;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  max-width: 800px;
}
#customers td,
#customers th {
  border: 1px solid #000000;
  padding: 8px;
}
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}
#customers tr:hover {
  background-color: #dbd7d7;
}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.center {
  cursor: pointer;
  text-align: center;
}
.icon {
  font-size: 20px;
}
.icon:hover {
  transform: scale(1.1);
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.react-confirm-alert {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  text-align: center;
  padding: 40px 20px 10px;
  border-radius: 10px;
  z-index: 4;
  background-color: #FFF;
}
.custom-ui p {
  font-size: 22px;
}
.custom-ui button {
  padding: 10px 25px;
  margin: 30px 10px;
  cursor: pointer;
}
.right-site-bar {
  width: 100%;
  margin-left: 230px;
}
.product-form {
  max-width: 600px;
  display: flex;
  flex-flow: column;
  margin: 50px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  align-items: baseline;
}
.product-form input,
.product-form textarea {
  margin: 5px;
  padding: 5px;
}
.product-form .css-2b097c-container {
  width: 80%;
  margin: 5px;
}
.product-form button {
  padding: 10px 20px;
  margin: 5px;
}
.product-form label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 5px;
}
.product-form label input {
  width: 17px;
}
.images-block {
  border: 1px solid grey;
  width: 98%;
  height: 200px;
  display: flex;
  border-radius: 3px;
  position: relative;
  margin: 15px 0;
  background-color: #fff;
}
.images-block .upload-img {
  border-right: 1px solid grey;
  width: 80px;
  display: flex;
  padding-right: 10px;
}
.images-block .upload-img .labelForUpload {
  cursor: pointer;
}
.images-block .product-image-block {
  overflow-y: auto;
  display: flex;
  align-items: flex-end;
}
.images-block .product-image-block .global-settings {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  width: 25px;
}
.image-block {
  position: relative;
}
.image-block .settings {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  cursor: pointer;
}
.dropdown-item {
  width: 95%;
}
.description {
  width: 98%;
  height: 200px;
}
.keyWords {
  width: 98%;
  height: 100px;
}
#name {
  width: 98%;
}
.about-us-block {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.about-us-block textarea {
  white-space: break-spaces !important;
}
.about-us-block button {
  margin-top: 10px;
}
.error {
  box-shadow: 0px 0px 4px 2px red;
  border-color: transparent;
}
.td-img {
  max-width: 100px;
}
.td-desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.add-category-block {
  display: flex;
  flex-flow: column;
  align-items: baseline;
  margin: 20px 0px;
}
.add-category-block input {
  height: 40px;
  margin-bottom: 10px;
  width: 400px;
}
.add-category-block label {
  margin: 0;
}
.add-category-block .category-butttons-block {
  display: flex;
}
.add-category-block .category-butttons-block .reset {
  font-size: 28px;
  color: #126ccc;
  cursor: pointer;
  margin-left: 40px;
  transition: 0.2s;
}
.add-category-block .category-butttons-block .reset:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
.search-block {
  padding: 20px 0;
}
.search-block input {
  margin-right: 1px;
}
.search-block button {
  height: fit-content;
}
.pagination-block {
  margin-top: 20px;
}
.content form .category-upload-block {
  display: flex;
}
.content form .category-upload-block .upload-img {
  border: 1px solid #A5A5A5;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 5px 5px 20px;
  height: 125px;
}
.content form .category-upload-block .upload-img img {
  cursor: pointer;
}
.category-img {
  width: 250px;
}
